@media screen and (max-width:400px){
	#score {
		margin:70px 7% auto 7%;	
	}
	.rock,.paper,.scissors {
		width:110px;
		height:110px;
	}
	.game-options {
		width:100%;
	}
}

@media screen and (max-width: 500px){
	.template {
		width:100%;
		margin:auto 0%;
	}
}

@media screen and (min-width: 900px){
	.template {
		width:60%;
		margin:auto 20%;
	}
}