.overlay {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:99;
	opacity: 0;
	pointer-events: none;
	background:rgba(0,0,0,0.8);
	-webkit-transform: scale(0.5);
			transform: scale(0.5);
	text-align: center;
}
.open-overlay {
	pointer-events: auto;
	opacity: 0.9;
	-webkit-transform:scale(1);
			transform:scale(1);
	-webkit-transition:transform 0.5s ease, opacity 0.5s ease;
			transition:transform 0.5s ease, opacity 0.5s ease;
}
.modal {
	position: fixed;
	top:50%;
	left:50%;
	z-index: 100;
	opacity: 0;
	width:100%;
	max-width: 640px;
	-webkit-transform: translate(-50%,-50%) scale(0.5);
			transform: translate(-50%,-50%) scale(0.5);
}
.open-modal {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform:translate(-50%,-50%) scale(1);
			transform:translate(-50%,-50%) scale(1);
	-webkit-transition: transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
	transition-delay:0.1s;
}
.modal img {
	width:200px;
	border-radius: 5px;
}
.close-nav {
	position: fixed;
	bottom: 40px;
	left:50%;
	-webkit-transform:translateX(-50%) scale(1);
			transform:translateX(-50%) scale(1);
}